{% extends "layout.html" %}

{% block title %}
    - Perfil
{% endblock %}

{% block main %}
    <div class="center-element max-w400 p-relative">
        <h2>Criar Perfil Profissional</h2>
        <form method="post" action="/perfil" enctype="multipart/form-data">
            <div class="form-group">
                <input autocomplete="off" type="text" name="name_profile" class="form-control" placeholder="Nome Completo">
                {% if rv == "name_profile" %}
                    <small class="form-text is-invalid">
                        Utilize um nome válido.
                    </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="text" name="phone_profile" class="form-control" placeholder="Telefone">
                {% if rv == "phone_profile" %}
                <small class="form-text is-invalid">
                    Campo vazio ou inválido.
                </small>
            {% endif %}
            </div>
            <div class="form-group">
                <input type="text" name="zipcode_profile" class="form-control" placeholder="CEP">
                {% if rv == "zipcode_profile" %}
                    <small class="form-text is-invalid">
                        Campo vazio ou inválido.
                    </small>
                {% endif %}
            </div>
            <div class="form-group">
                <select class="form-control" name="category_profile">
                    <option selected>Escolha uma categoria</option>
                    {% for row in cats %}
                        <option value="{{ row['id'] }}">{{ row["description"] }}</option>
                    {% endfor %}
                </select>
                {% if rv == "category_profile" %}
                    <small class="form-text is-invalid">
                        Selecione uma opção válida.
                    </small>
                {% endif %}
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description_profile" placeholder="Descrição (opcional)" rows="3"></textarea>
                {% if rv == "description_profile" %}
                    <small class="form-text is-invalid">
                        Limite de caracteres excedido.
                    </small>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="file" name="file_profile" class="file-input">
                <label for="file_profile" class="form-control text-muted file-input-layout file-input-profile">Foto de Perfil</label>
                {% if rv == "file_profile" %}
                    <small class="form-text is-invalid">
                        Formatos permitidos: JPG, PNG e BMP (no máximo 2MB's).
                    </small>
                {% elif rv == 413 %}
                <small class="form-text is-invalid">
                    Erro interno. Escolha um arquivo de no máximo 2MB's.
                </small>
                {% endif %}
            </div>
            <div class="d-flex justify-content-end">
             <button type="submit" class="btn btn-success">Próximo</button>
            </div>
        </form>
    </div> <!-- center-element -->
{% endblock %}